<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Careers test</title>
        <style>
        </style>
        <script>

            function showSection(section) {
                
                fetch(`/sections/${section}`)
                .then(response => response.text())
                .then(text => {
                    console.log(text);
                    document.querySelector('#content').innerHTML = text;
                });
            }

            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('button').forEach(button => {
                    button.onclick = function() {
                        showSection(this.dataset.section);
                    };
                });
            });
        </script>
    </head>
    <body>
        <h1>Hello!</h1>
        <button data-section="1">Route 1</button>
        <button data-section="2">Route 2</button>
        <button data-section="3">Route 3</button>
        <div id="content">
        </div>
    </body>
</html>
